{% extends 'todo_app/base.html' %}

{% block title %}Delete Todo{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if object.author.id == user.id %}
            <div class="row my-5 align-items-center justify-content-center">
                <div class="col-9 col-lg-6">
                    <div class="card border-primary border-2">
                        <div class="card-header text-center text-primary bg-dark">
                            <h3>Delete task</h3>
                        </div>
                        <div class="card-body text-left py-2">

                            <form method="post">
                                {% csrf_token %}
                                <p>Are you sure you want to delete "{{ object }}"?</p>
                                {{ form }}
                                <a href="{% url 'list_todos' %}" type="submit" class="btn btn-secondary">Back</a>

                                <input type="submit" value="Confirm" class="btn btn-danger">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h2 class="text-center mt-5">You are not allowed to delete this task . . . </h2>
        {% endif %}
    {% else %}
        <h2 class="text-center mt-5">You are not allowed to delete any tasks . . . </h2>
    {% endif %}
{% endblock %}