{% extends 'todo_app/base.html' %}

{% block title %}Update Todo{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row my-5 align-items-center justify-content-center">
            <div class="col-9 col-lg-6">
                <div class="card border-primary border-2">
                    <div class="card-header text-center text-primary bg-dark">
                        <h3>{{ object.title|capfirst }} Detail <a href="{% url 'list_todos' %}"
                                                                  class="edit-btn text-success">

                            <i class="bi bi-house-heart" id="go_home"></i></a>

                        </h3>
                    </div>
                    <div class="card-body text-left py-2">

                        <div class="card-title">
                            {{ object.description|safe|linebreaks }}
                            <small class="date-right" style="color: #002ba1">
                                Created: {{ object.date_created }}
                            </small>
                            <form action="{% url 'like_todo' object.pk %}" method="post" class="like-post-form">
                                {% csrf_token %}
                                <button type="submit" name="todo_id" value="{{ object.id }}"
                                        class="{% if liked %}btn btn-info
                                        {% else %}btn btn-secondary {% endif %} btn-sm mx-3">

                                    {% if liked %}Unlike{% else %} Like {% endif %}
                                </button>

                                <small>{{ object.total_likes }}</small>
                            </form>
                            <hr>

                            <h2 class="comments">Comments</h2>
                            {% if todomodel.comments %}
                                {#Loop throw all comments#}
                                {% for comment in todomodel.comments.all %}
                                    <strong>
                                        {{ user.username|capfirst }}</strong><br>
                                    {{ comment.body }} <p class="text-end comment-date" > {{ comment.date_added }}</p>

                                {% endfor %}
                                <a href="{% url 'add_comment' todomodel.pk %}" class="text-decoration-none">Add
                                comment...</a>

                            {% else %}
                                No comments yet . . . <a href="{% url 'add_comment' todomodel.pk %}">Add comment</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2 class="text-center mt-5">You are not allowed to see any tasks!</h2>
    {% endif %}
{% endblock %}