body {
    background-color: #2F4EA7;
}

.link-to-detail {
    text-decoration: none;
}

h1, h2, h3 {
    color: white;
}

.align-top-right {
    margin-left: 30px;
}

.heart-icon, .edit-btn, .like-post-form {
    float: right;
    margin-right: 10px;
}

.trash-icon {
    color: red;
    float: right;
}

.delete-text {
    alignment: center;
    color: #ff0015;
}

.button-confirmation {
    width: 25%;
    right: 30px;
}

.register-btn {
    margin-left: 40%;
}

.strikethrough:checked + span {
    text-decoration: line-through;
    color: #f30404;
}

.strikethrough {
    margin-right: 10px;
}

#containerIntro h3,
#containerIntro p {
    display: inline;
    vertical-align: top;
    /*font-family: 'Open Sans', sans-serif;*/
    line-height: 28px;
}

.update-pic {
    position: absolute;
    right: 10px;
    text-decoration: none;
}

.rounded-circle {
    margin-right: 25px;
    margin-top: 10px;
}
