{% extends 'todo_app/base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div class="row my-5 align-items-center justify-content-center">
        <div class="col-9 col-lg-6">
            <div class="card border-primary border-2">
                <div class="card-header text-center text-primary bg-dark">
                    <h3>Change password</h3>
                </div>
                <div class="card-body text-left py-2">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-1 row">
                            {{ form.as_p }}
                        </div>
                        <div class="mx-0 mb-1 row">
                            <ul>
                                <small>
                                    <li>Your password can’t be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can’t be a commonly used password.</li>
                                    <li>Your password can’t be entirely numeric.</li>
                                </small>
                            </ul>
                        </div>

                        <input type="submit" value="Change password" class="btn btn-success register-btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}